@model AppFactory.DAL.Application


@using (Ajax.BeginForm("OpenApp" , "Home" , null , new AjaxOptions { HttpMethod = "POST" , InsertionMode = InsertionMode.Replace , UpdateTargetId= "FeedbackMsg" , OnComplete= "" } , new { id = "testForm" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ApplicationName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ApplicationName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group box-footer clearfix no-border">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default pull-right" />
                <input type="reset" value="Reset" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div> <p class="text-green text-bold" id="FeedbackMsg"> </p></div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
