@model AppFactory.DAL.Education

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.College.CollegeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.College.CollegeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Degree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Degree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeaduationYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeaduationYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

    </dl>
</div>
